
* {
  box-sizing: border-box;
}

body {
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

input {
  padding: 10px;
  margin: 10px 5px 10px 0;
  font-size: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

select {
  padding: 10px;
  margin: 10px 0;
  width: auto;
  font-size: 1rem;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.fields {
  display: flex;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width:50%;
  height: auto;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}

.header {
  display: flex;
  justify-content: space-around;
  width:50%;
  height: auto;
  background-color: #fff;
  margin: 50px auto 0 auto;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
}
.header_currency {
  width: auto;
  height: auto;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0,0,0, .2);
  background-color: #e6e6e6;
  text-align: center;
  line-height: 80px;
  font-size: 34px;
  margin: 10px;
  padding: 10px;
}
/* --------------------------------------- */
@media (max-width: 970px) {
  .header_currency {
    line-height: 40px;
  }
  .header {
    width:70%;
  }
  .wrapper {
    width:70%;
  } 
}

@media (max-width: 750px) {
  .header {
    width:90%;
    margin: 10px auto 0 auto;
    padding: 20px;
  }
  .wrapper {
    width:90%;
    margin: 10px auto 0 auto;
  } 
}


@media (max-height:420px) {
  .header {
    margin: 10px auto 0 auto;
    padding: 20px;
  }
  .wrapper {
    margin: 10px auto 0 auto;
    padding: 20px;
  }
}